$backgroundBlue: #202235;
$headerPrimary: rgba(255, 255, 255, 0.4);
// $textPrimary: #fff;
$textPrimary: #bababa;
$backgroundBlack: rgba(34, 34, 34, 0.3);
$backgroundDarkerBlack: rgba(0, 0, 0, 0.5);
$borderPrimary:  rgba(64, 64, 64, 0.18);
