@import "../../utils/style.scss";

$light-neon: rgba(159, 87, 161, 0.7);
$pulse-neon: rgba(159, 87, 161, 0.5);

.LabelCard {
    margin-top: 5vw;
    color: $textPrimary;
    line-height: 30px;
    background-color: $backgroundBlue;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    transition: all ease-in-out 0.3s;
    border: 1px solid $borderPrimary;

    &:hover {
        background: linear-gradient(315deg, #1d1f30, #222439);
        box-shadow: -12px -12px 18px #1d1f30, 12px 12px 18px #23253a;

        .LabelCardAvatar {
            opacity: 0.5;
        }
    }

    &Header {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: clamp(6vw, 10px, 8vw);
        width: 100%;
        z-index: 99;
        transition: all ease-in-out 0.3s;
        &Name {
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: clamp(1rem, 1.4rem, 1.6rem);
        }
    }

    &Avatar {
        height: 10vw;
        width: 10vw;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: -20%;
        opacity: 0.2;
        background-position: left;
        align-self: center;
        border-radius: 50%;
        transition: all ease-in-out 0.3s;
    }

    &Description {
        font-family: PingFang-SC;
        font-size: 0.9rem;
    }
}
